</div>
<div class="clear">
</div>
<div class="footer">
  ©2017 COPISTERIA COLOR DIGITAL
  <br>
  <a href="controlador.php?accion=legal&id=1">legal</a>
</div>
##scriptparausuarios##
<script type="text/javascript" src="static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript">

  function favoritosv() {
    favoritos($('#idproducto').text());
  }

  function favoritos(idprod) {
    $.ajax({
      url: "ajax/favoritos.php?idprod=" + idprod,
      success: function(response) {
        if (response == "-1") {
          $("#error").fadeIn(300).delay(1500).fadeOut(400);
        }
        else {
          cargar();
        }
      }
    });
  }
</script>
##scriptparausuarios##
<script type="text/javascript">
  function botonmenu() {
    var navbar = document.getElementById("navigation-bar");
    if (navbar.style.display != "inline") {
      navbar.style.display = "inline";
    } else {
      navbar.style.display = "";
    }
  }
</script>
</body>

</html>
