* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.contenido {
    padding-top: 50px;
    /* Depende del tamaño de la cabecera*/
}

.letraroja {
    color: red;
}


/***************************************************
 * Todo lo relacionado con la barra de navegación *
 ***************************************************/

.navigation-bar {
    position: fixed;
    width: 100%;
}

.navigation-bar ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #666;
}

.navigation-bar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
}

.navigation-bar li a:hover {
    background-color: #333;
    color: #fff
}

.navbaritems-left {
    float: left;
}

.navbaritems-right {
    float: right;
}


/***************************************************
 * Fin barra navegación****************************
 ***************************************************/
