<div class="tablaproductos">
	<div id="error" class="alert-box failure">Algo ha fallado</div>
	<div id="cuentaresultados">
	</div>

	<div id="selectordecategorias">
		<input type="text" name="busq" id="busq" onkeyup="cargar();">
		<label for="orden">Ordenar por: </label>
		<select id="orden" onchange="cargar();">
				     <option value="nombre">Alfabético</option>
					<option value="precioup">Precio &uarr;</option>
					<option value="preciodown">Precio &darr;</option>
					<option id="opcioncat" value="categoria">Categoría</option>
					<option value="destacado">Destacados</option>
					</select>
		<label for="categoria">Categoría: </label>
		<select id="categoria" onchange="cargarconcambio();">
				    <option value="0">todas</option>
						##selectorescategoria##
					</select>
	</div>
	<div id="resultado">
	</div>
</div>

<button id="botoncargamas" class="botonesbonitos botonesanchos" type="button" name="button" onclick="clicado()">Mostrar más</button>

<script type="text/javascript" src="static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript">
	var clicks = 1;

	function cargar() {
		var cat = $("#categoria").val();
		var orden = $("#orden").val();
		var busqueda = $("#busq").val();

		$.ajax({
			url: "ajax/catalogo.php?cat=" + cat + "&clicks=" + clicks + "&orden=" + orden + "&comienzo="+busqueda,
			success: function(response) {
				var total = jQuery.parseJSON(response);
				$("#cuentaresultados").html(total[0] + " artículos");
				if ((clicks * 25) >= total[0]) {
					$("#botoncargamas").hide();
				} else {
					$("#botoncargamas").show();
				}
				if (total[0] != "0") {
					var datos = total[1];
					cadena = "<div id='correcto' class='alert-box success'>Guardado como favorito</div>";
					cadena = cadena + "<div id='error' class='alert-box failure'>Algo ha fallado</div>";
					var cadena = cadena + "<table><tr><th></th><th>Nombre</th><th class='ocultarmovil'>categoria</th></tr>";
					for (var i = 0; i < datos.length; i++) {
						cadena = cadena + "<tr><td><a href='controlador.php?accion=producto&id=1&producto=" + datos[i][0] + "'>";
						if (datos[i][3] == null)
							cadena = cadena + "<img src=http://placehold.it/100x80></a></td>";
						else
							cadena = cadena + "<img src=/static/images/catalogo/" + datos[i][3] + "></a></td>";
						cadena = cadena + "<td>" + datos[i][1] + "</td>";
						cadena = cadena + "<td class='ocultarmovil'>" + datos[i][2] + "</td>";
						cadena = cadena + "##parausuarios##<td><button type='button' class='botonesbonitos ocultarmovil' name='button' onclick='favoritos(" + datos[i][0] + ")'>"
						if (datos[i][4] == "0")
							cadena = cadena + "Añadir a favoritos";
						else
							cadena = cadena + "Eliminar de favoritos";
						cadena = cadena + "</button></td>##parausuarios##</tr>";
					}
					cadena = cadena + "</table>";
					$("#resultado").html(cadena);
				}
				else
					$("#resultado").html("No hay resultados");
			}
		});
	}

	function clicado() {
		clicks = clicks + 1;
		cargar();
	}

	function cargarconcambio() { // necesario para resetear el contador del botón
		clicks = 1;
		if($("#categoria").val() == "0")
			$("#opcioncat").show();
		else
			$("#opcioncat").hide();
		$("#orden").val("nombre");
		cargar();
	}

	$(document).ready(cargar());
</script>
