<h1>Destacados de hoy</h1>

<div class="slideshow-container ocultarmovil carrouselprod">
  <a href="controlador.php?accion=producto&id=1&producto=##link1##">
    <div class="mySlides fade">
      <div class="numbertext">1 / 5</div>
      <img class="imgcarcentrada" src="##imagen1##'" >
      <div class="textderecha">##p1##</div>
      <div class="text">##1##</div>
    </div>
  </a>

  <a href="controlador.php?accion=producto&id=1&producto=##link2##">
    <div class="mySlides fade">
      <div class="numbertext">2 / 5</div>
      <img class="imgcarcentrada" src="##imagen2##">
      <div class="textderecha">##p2##</div>
      <div class="text">##2##</div>
    </div>
  </a>
<!-- http://placehold.it/1000x300 -->
  <a href="controlador.php?accion=producto&id=1&producto=##link3##">
    <div class="mySlides fade">
      <div class="numbertext">3 / 5</div>
      <img class="imgcarcentrada" src="##imagen3##">
      <div class="textderecha">##p3##</div>
      <div class="text">##3##</div>
    </div>
  </a>

  <a href="controlador.php?accion=producto&id=1&producto=##link4##">
    <div class="mySlides fade">
      <div class="numbertext">4 / 5</div>
      <img class="imgcarcentrada" src="##imagen4##">
      <div class="textderecha">##p4##</div>
      <div class="text">##4##</div>
    </div>
  </a>

  <a href="controlador.php?accion=producto&id=1&producto=##link5##">
    <div class="mySlides fade">
      <div class="numbertext">5 / 5</div>
      <img class="imgcarcentrada" src="##imagen5##">
      <div class="textderecha">##p5##</div>
      <div class="text">##5##</div>
    </div>
  </a>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot ocultarmovil" onclick="currentSlide(1)"></span>
  <span class="dot ocultarmovil" onclick="currentSlide(2)"></span>
  <span class="dot ocultarmovil" onclick="currentSlide(3)"></span>
  <span class="dot ocultarmovil" onclick="currentSlide(4)"></span>
  <span class="dot ocultarmovil" onclick="currentSlide(5)"></span>
</div>

<br>

<h1 class="ocultarmovil">Más destacados</h1>
<div class="tablaproductos tablamovil">
    ##tablaproductos##
</div>

<script type="text/javascript">
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" activo", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " activo";
  }
</script>
