      <form class="" action="index.html" method="post">
         <label for="categoria">Categoria:</label> <br/>
         <select id="categoria" name="categoria">
           <option value="" selected="selected">Elige una categoria</option>
                ##selectorescategoria##
         </select>
         <br>
         <label for="nombre">Nombre:</label> <br/>
         <input type="text" id = "Nombre" name="Nombre" placeholder="Nombre"/><br>
         Dirección:<br>
         <input type="text" name="direccion" placeholder="Dirección"/><br>
         Población:<br>
         <input type="reset" value="Borrar" />
         <input type="submit" onclick="alert('Enviado!')"value="Enviar" />
      </form>
      <link href="../static/css/dropzone.css" rel="stylesheet" type="text/css">
      <script src="../static/js/dropzone.js"></script>
      <div class="container" >
         <div class="content">
            <form action="../static/images/catalogo" class="dropzone" id="dropzonewidget">
            </form>
         </div>
      </div>
