<h1>##nombre##</h1>
<h1 id="idproducto">##idproducto##</h1>
<div class="slideshow-container ocultarmovil carrouselprod">
  ##imagenes##
</div>
<h2>Descripción</h2>
<p>##descripcion##</p>
<h2>##precio##€</h2>
<h2>Comentarios</h2>
<p>##comentarios##</p>
##parausuarios##

<form action="controlador.php?accion=nuevocomentario&id=1" enctype="multipart/form-data" method="post">
     <h2>Añadir nuevo comentario</h2>
     <textarea name="comentario" id="comentario" ></textarea><br>
     ##id##
     <input type="submit" value="Enviar">
</form>

<button id="botonfavoritos" type="button" class="botonesbonitos" name="button" onclick="favoritosv()">##favorito##</button>
<div id="error" class="alert-box failure">Algo ha fallado</div>

<script type="text/javascript" src="static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript">
  function cargar(){
    if ($('#botonfavoritos').text()==="Añadir a favoritos") {
      $('#botonfavoritos').text("Eliminar de favoritos");
    } else {
      $('#botonfavoritos').text("Añadir a favoritos");
    }
  }
</script>

##parausuarios##

<script type="text/javascript">
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" activo", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " activo";
  }
</script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=591f1bc84d2b0c001100a83b&product=sticky-share-buttons" async="async"></script>
