<h1 id="idprod">##idproducto##</h1>
<img src="##imagen##" alt="imagen">
<h2>Descripción</h2>
<p>##descripcion##</p>
<h2>##precio##€</h2>

##parausuarios##

<button id="botonfavoritos" type="button" class="botonesbonitos" name="button" onclick="favoritosv()">##favorito##</button>
<div id="error" class="alert-box failure">Algo ha fallado</div>

<script type="text/javascript" src="/static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript">
  function cargar(){
    if ($('#botonfavoritos').text()==="Añadir a favoritos") {
      $('#botonfavoritos').text("Eliminar de favoritos");
    } else {
      $('#botonfavoritos').text("Añadir a favoritos");
    }
  }
</script>

##parausuarios##
