
          <form action="../php/registro.php" method="post" onsubmit="return validateForm()">
               <input type="text" name="user" id="usuario" placeholder="Usuario">
               <br>
               <input type="password" name="password" id = "pass1" placeholder="Contraseña">
               <br>
               <input type="password" name="password2" id = "pass2" placeholder="Repetir contraseña">
               <br>
               <input type="text" name="email" id="mail1" placeholder="Email">
               <br>
               <input type="text" name="mail2" id="mail2" placeholder="Repetir email">
               <br>
               <input type="text" name="direccion" placeholder="Direccion">
               <br>
               <input type="text" name="nombre" placeholder="Nombre">
               <br>
               <input type="submit" name="submit" value="Registrar">
          </form>

          <script>
               function validateForm() {
                    if (document.getElementById("usuario").value.length == 0) {
                         alert("El nombre no puede estar vacío");
                         return false;
                    }
                    if (document.getElementById("pass1").value != document.getElementById("pass2").value) {
                         alert("Las contraseñas no coinciden");
                         return false;
                    }
                    if (document.getElementById("mail1").value != document.getElementById("mail2").value) {
                         alert("Los emails no coinciden");
                         return false;
                    }
                    return true;
               }
          </script>
