<div class="navigation-bar">
       <ul>
             <li class="navbaritems-left"><a href="controlador.php?accion=index&id=1">home</a></li>
             <li class="navbaritems-left"><a href="controlador.php?accion=catalogo&id=1">catalogo</a></li>
             <li class="navbaritems-left"><a href="controlador.php?accion=localizacion&id=1">localización</a></li>
             <li class="navbaritems-left"><a href="controlador.php?accion=servicios&id=1">servicios</a></li>
             <li class="navbaritems-right"><a href="controlador.php?accion=login&id=1">login</a></li>
             <li class="navbaritems-right"><a href="controlador.php?accion=registro&id=1">registro</a></li>
       </ul>
</div>
<div class="contenido">
<form action="/registro.php" method="post" onsubmit="return validateForm()">
       <input type="text" name="user" id="usuario" placeholder="Usuario">
       <br>
       <input type="password" name="password" id="pass1" placeholder="Contraseña">
       <br>
       <input type="password" name="password2" id="pass2" placeholder="Repetir contraseña" onkeyup="checkpass()">
       <br>
       <div id="malpass" class="letraroja">

       </div>

       <input type="text" name="email" id="mail1" placeholder="Email">
       <br>
       <input type="text" name="mail2" id="mail2" placeholder="Repetir email" onkeyup="checkmail()">
       <br>
       <div id="malmail" class="letraroja">

       </div>
       <input type="text" name="direccion" placeholder="Direccion">
       <br>
       <input type="text" name="nombre" placeholder="Nombre">
       <br>
       <input type="submit" name="submit" value="Registrar">
</form>

          <script>
               permitir;
               function validateForm() {
                    if (document.getElementById("usuario").value.length == 0) {
                         return false;
                    }
                    return permitir;
               }

               function checkpass() {
                    if (document.getElementById("pass1").value != document.getElementById("pass2").value) {
                         document.getElementById("malpass").innerHTML = "Las contraseñas no pueden ser distintas<br>";
                         permitir = false;
                    }
                    else {
                         document.getElementById("malpass").innerHTML = "";
                         permitir = true;
                    }
               }

               function checkmail() {
                    if (document.getElementById("mail1").value != document.getElementById("mail2").value) {
                         document.getElementById("malmail").innerHTML = "Los emails deben coincidir<br>";
                         permitir = false;
                    }
                    else {
                         document.getElementById("malmail").innerHTML = "";
                         permitir = true;
                    }
               }
          </script>
