<form class="centered-form" action="modelo/registro.php" method="post" onsubmit="return validateForm()">

       <div class="letraroja">
              ##regfailed##
       </div>

       <input type="text" name="user" id="user" placeholder="Usuario">
       <div id="maluser" name="maluser" class="letraroja">

       </div>
       <br>
       <input type="password" name="password" id="pass1" placeholder="Contraseña">
       <br>
       <input type="password" name="password2" id="pass2" placeholder="Repetir contraseña" onkeyup="checkpass()">
       <br>
       <div id="malpass" class="letraroja">

       </div>

       <input type="text" name="email" id="mail1" placeholder="Email">
       <br>
       <input type="text" name="mail2" id="mail2" placeholder="Repetir email" onkeyup="checkmail()">
       <br>
       <div id="malmail" class="letraroja">

       </div>
       <input type="text" name="direccion" placeholder="Direccion">
       <br>
       <input type="text" name="nombre" placeholder="Nombre">
       <br>
       <input type="submit" class="botonesbonitos botonesanchos" name="submit" value="Registrar">
</form>

<div class="onlymobile">
    <a href="controlador.php?accion=login&id=1">Ya tengo usuario.</a>
</div>


<script>
       permitir = false;

       function validateForm() {
              if (document.getElementById("usuario").value.length == 0) {
                     return false;
              }
              return permitir;
       }

       function checkpass() {
              if (document.getElementById("pass1").value != document.getElementById("pass2").value) {
                     document.getElementById("malpass").innerHTML = "Las contraseñas no pueden ser distintas<br>";
                     permitir = false;
              } else {
                     document.getElementById("malpass").innerHTML = "";
                     permitir = true;
              }
       }

       function checkmail() {
              if (document.getElementById("mail1").value != document.getElementById("mail2").value) {
                     document.getElementById("malmail").innerHTML = "Los emails deben coincidir<br>";
                     permitir = false;
              } else {
                     document.getElementById("malmail").innerHTML = "";
                     permitir = true;
              }
       }
</script>


<script type="text/javascript" src="static/js/jquery-3.2.0.min.js"></script>

<script type="text/javascript">
       jQuery(function($) {
              $('#user').on('keyup', function() {
                     var usr = $('#user').val();
                     $.ajax({
                            url: "ajax/checkusrbbdd.php",
                            type: "GET",
                            data: {
                                   usr: usr
                            },
                            success: function(response) {
                                   $("#maluser").html(response);
                            }

                     });
              });
       });
</script>
